.minicartContainer :global(.vtex-button):hover {
    background-color: transparent;
}

.cartIcon {
    color: #1D2734;
}

@media (min-width: 768px) {
    .minicartWrapperContainer {
        margin-left: 12px;
    }
    .openIconContainer {
        padding-top: 8px;
        padding-right: 16px;
        padding-bottom: 8px;
    }
}
