.logoContainer {
    padding: 0;
}

.logoImage {
    min-width: 32px;
}

.searchBarContainer {
    width: auto;
    max-width: 280px;

}

@media (max-width: 767px) {
    .searchBarContainer {
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    .searchBarContainer {
        margin-right: auto;
    }
}

.searchBarContainer .autoCompleteOuterContainer--header__search--bar :global(.vtex-input-prefix__group) {
    height: 40px;
    border-radius: 40px;
    border-color: #F5F4F6;
}

.searchBarContainer .autoCompleteOuterContainer--header__search--bar :global(.vtex-styleguide-9-x-input),
.searchBarContainer .autoCompleteOuterContainer--header__search--bar :global(.vtex-input__suffix) {
    background-color: #F5F4F6;
}

.searchBarContainer .autoCompleteOuterContainer--header__search--bar :global(.vtex-styleguide-9-x-input) {
    color: #1D2734;
    font-size: 12px;
    font-weight: 300;
}

.searchBarContainer .autoCompleteOuterContainer--header__search--bar :global(.vtex-styleguide-9-x-input)::placeholder {
    color: #1D2734;
}