:global(.vtex-store__template),
:global(.vtex-modal-layout-0-x-modal),
:global(.vtex-store-drawer-0-x-drawer),
:global(.vtex-minicart-2-x-drawer) {
    --base          : #F5F4F6;
}
:local(body div[class="vtex-store__template bg-base"]) {
    background: var(--base);
}

:local(body div[class*="vtex-render__container-id-"]),
:local(body section[class*="vtex-store-header-2-x-headerRowContentContainer"]),
:local(body section[class*="vtex-store-header-2-x-headerRowContentContainer--navigation__carrusel"]) {
    padding-right: 0;
    padding-left: 16px;
    margin: 0 auto;
    max-width: calc(1280px - 72px);
}

:local(body div[class*="vtex-render__container-id-home"]) {
    padding: 0 !important;
    margin: initial !important;
    max-width: none !important;
}

:local(svg[class=" vtex-search-result-3-x-filterIcon"] use) {
    transform: scale(1.9);
}

:local(div[class*="render-route-store-search-"] div[class="vtex-store__template bg-base"]) {
    background: #fff;
}